.form {
  display: block;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
}
.fields {
  display: inline-block;
  width: 100%;
}
.field, .button {
  display: block;
  width: 100%;
  margin: 5px 0;
}

/* larger screens */
@media all and (min-width: 500px) {
  .form {
    width: auto;
  }
  .fields {
    width: auto;
  }
  .field, .button {
    display: inline-block;
    width: auto;
    margin: 5px;
  }
}
