:root {
  --white: #fff;
  --light-gray: #a9a9a9;
  --gray: #324759;
  --dark-gray: #282c34;
  --very-dark-gray: #161f27;
  --blue: #0096bf;
  --blue-66: #0096bfa8;
  --blue-33: #0096bf54;
  --red: #f00;
}